{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">

        <h1>It y Wason</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat error dicta minus laudantium, in atque perspiciatis consequatur reiciendis aspernatur, consequuntur tenetur repudiandae eligendi ipsa nobis, adipisci quaerat quasi vel. Necessitatibus?
        </p>

    </div>

    <div class="col-4">

        <img src="assets/img/71694443_1543342019146691_5659777657785548800_n.jpg" class="img-thumbnail">

    </div>


</div>


    

{{> footer}}